html {
  font-family: "ProximaNova" !important;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
nav {
  min-height: 10vh;
}

#nav-ul a:hover {
  text-decoration: underline 4px;
  text-underline-offset: 46px;
}

.bg-custom-green {
  background-color: #7aa65a;
}
.text-custom-green {
  color: #7aa65a;
}

@media (min-width: 1250px) {
  .quiz-btn {
    color: #7aa65a !important;
  }
}

.border-custom-green {
  border-color: #7aa65a;
}

.btn-active {
  background-color: #7aa65a;
  color: white;
}

.swiper-hero {
  min-height: 50vh;
}
.bg-img {
  content: "";
  background-image: url("https://s3-alpha-sig.figma.com/img/15bc/8c0e/9a5a84c078b7ecfe7987f5d55f4dd1fe?Expires=1698624000&Signature=QK1tXI1nus9L33FkZT~J6BD2zreLQ-Hsa4XuTfMiOsdluDSwNXhK9Y2btJMKZFR6wcvw1bEapGT5pnvGHiHGec5dAr-q5~z2-idRMKdJp2iKv~Yjk0lQKbjoWFUxx6FrKwa4BvFjI1mR5SdmDA7D6PkJ7uOCrnu89EQ31eP4~HGrb3DutA0x2bSBAxR4bwvy5LwKqA7dlqdDoNvB94p1XAGTETIWnPYy44hG~WRCNgMNj1FTavVwMO6r1Zt1jvLX~tmnBrIR6HGMI-BVtMqQxrlenxHqvVkGdl8twSBdioJ55mRTFYP4~nbaqcB1GI2vtFGDhIlWSeYnwqrxvd4NaA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: -30%;
  opacity: 0.2;
  width: 200%;
}
@media (min-width: 1280px) {
  .swiper-slide {
    height: 68vh;
  }
}

.hero-img {
  background-image: url("https://s3-alpha-sig.figma.com/img/35e9/e63d/ccf9695660cd1e58ebd97f15bd2589eb?Expires=1698624000&Signature=oGGozuug7T6rVIT36iyng9rjMVZkkt9o6IjMzekpGfheq1KCvoCp-Oxp~bfPcFhAKUrgW4PHx7ol7kXPQmGeBpnfv34fqWFJ8LJrA0Fl6pO3gZk2piJT~CzHaOyKjT5nx-Qp0XaNE~nlh4BUQZpVpU4ZhtXf0ywBSVx~NVjG62tRYnrRlIJkPfisw~DOjmUm4EddJXKD1UGvtV-Gs88hc~DIesYB6FWHiMfqfLh7ledc4RFkJjsPL~sT2ErV5P89PKkuwZ2XtuFuJK3Iavycbn2161KwHt-jU-R~tELMttzjHoEW3UXZKAlYff5ubZVa1miBm~1W~R5H5hOPxz9wFg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  min-height: 40vh;
  background-position: center;
  background-size: cover;
  min-width: 40vh;
}

@media (min-width: 1280px) {
  .hero-img {
    width: 40% !important;
    height: 102% !important;
  }
}
@media (min-height: 840px) and (min-width: 1200px) {
  .hero-img {
    width: 50% !important;
    height: 94% !important;
  }
}

@media (min-width: 440px) and (max-width: 1040px) {
  .hero-img {
    width: 60vw;
    max-width: 500px !important;
  }
}

.nav-arrows-container {
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: fit-content;
}
@media (min-width: 1280px) {
  .nav-arrows-container {
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 76px;
    right: auto;
  }
}

.col-button-container {
  width: 34%;
}

.span-help,
.notsure {
  color: rgba(122, 166, 90, 0.58);
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.product-img-container img {
  min-width: 100px;
  max-width: 160px;
  min-height: 160px;
}

.products-container {
  max-width: 80vw; /* Adjust the width as needed */
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.active {
  background-color: black !important;
}
/* @media (min-width: 1250px) {
  .swiper-slide-products {
    width: 12% !important;
  }
  .product-img-container {
    height: 100%;
    width: auto;
  }

  .product-img-container img {
    height: 130px;
    width: 200px;
    object-fit: fill;
  }
} */
